---
import { getCollection } from 'astro:content';
import SectionElectronics from '@/components/SectionElectronics.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { formatBlogPosts } from '@/utils';
import SectionNewsIt from '@/components/SectionNewsIt.astro';

const allPosts = await getCollection('blog');
const formattedPosts = formatBlogPosts(allPosts);
---

<BaseLayout>
	<main>
		<SectionElectronics formattedPosts={formattedPosts} />
		<div class="post-container"></div>
		<SectionNewsIt />
	</main>
</BaseLayout>
