---
import { Breadcrumbs as AstroBreadcrumbs } from 'astro-breadcrumbs';

const customCrumbs = [
	{
		text: 'Главная',
		href: '/',
	},
	{
		text: 'Блог',
		href: '/blog',
	},
	...categoriesList.map((category) => ({
		text: category.attributes?.name,
		href: `/blog/${category.attributes?.name}`,
	})),
];
---

<AstroBreadcrumbs indexText={'home'}>
	<span slot="separator" class="c-breadcrumbs__separator">
		<!-- Add icon or text here -->
		<svg
			slot="separator"
			xmlns="http://www.w3.org/2000/svg"
			width="24"
			height="24"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
			><polyline points="9 18 15 12 9 6"></polyline>
		</svg>
	</span>
</AstroBreadcrumbs>

<style lang="scss">
	@use 'astro-breadcrumbs/breadcrumbs.scss';
</style>
