---
import { Sprite } from 'astro-icon';
---

<button
	class="order-3 col-span-2 justify-self-end text-gray-600"
	type="button"
	title="Поиск по сайту"
>
	<Sprite name="fa:search" size={20} aria-hidden="true" />
</button>
