@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/container-queries';

@custom-variant dark (&:is(.dark *));

@theme {
	--font-inter: 'Inter Variable', var(--font-serif);
}

@layer base {
	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}
}

@layer utilities {
	html {
		color-scheme: light;
	}

	html.dark {
		color-scheme: dark;
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

/* custom variables */
/* :root {} */

/* custom variables for dark theme */
/* .dark {} */
